@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.food-munch-logo {
    width: 60px;
    height: 50px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-section-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: white;
    background-color: #323f4b;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
}


.card1-container {
    text-align: center;
    height: 250px;
}

.card1-image {
    height: 65px;
    width: 65px;
    text-align: center;
}

.card1-heading {
    font-size: 28px;
    color: #1f2933;
}

.card1-description {
    color: #7b8794;
}

h1 {
    font-size: 28px;
    color: #1f2933;
}

#interaction-element {
    font-style: italic;
    font-weight: bold;
    color: black;
}

.VR-container {
    background-color: #f9fbfe;
}

.card2-image {
    height: 120px;
    width: 100px;
}

.VR-description {
    color: #323f4b;
    font-weight: 500;
}

.VR-heading {
    color: #1f2933;
    font-weight: 600;
}

.card3-image {
    width: 100%;
    margin-bottom: 10px;
}

.card3-heading {
    font-weight: 600;
    color: #1f2933;
    font-size: 30px;
}

.card3-description {
    color: #7b8794;
}

.read-button {
    background-color: #1a2137;
    color: white;
    width: 130px;
    height: 45px;
}

.contact-container {
    background-color: #222b36;
    padding-top:15px;
    padding-bottom: 15px;
}

.contact-page-heading {
    color: white;
    text-align: center;
    font-size: 30px;
}

.contact-image {
    width: 250px;
    height: 150px;
}

.contact-button {
    border-radius: 4px;
    border-color: white;
    background-color: transparent;
    color: white;
    border-width: 1px;
    width: 120px;
    height: 35px;
}

.blog-main-heading {
    font-size: 30px;
    color: #323f4b;
}

.blog-card-container {
    background-color: white;
}

.blog-card-image {
    width: 100%;
}

.blog-title {
    color: #959ead;
    font-size: 10px;
    font-weight: bold;
}

.blog-read-button {
    color: #1754a1;
    font-weight: bold;
    font-size: 12px;
}

.blog-view-button {
    width: 120px;
    height: 38px;
    color: white;
    background-color: #1754a1;
}

.product-text {
    color: #1f2933;
}

.product-card {
    height: 600px;
    width: 100%;
}

.product-bg-image-1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
}

.product-vr-heading {
    color: white;
    font-weight: 500;
}

.product-vr-price {
    color: white;
    font-size: 23px;
}

.product-vr-button {
    color: white;
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    font-size: 15px;
}

.product-bg-image-2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
}

.product-view-button {
    height: 45px;
    width: 140px;
    color: white;
    background-color: #1754a1;
    border-width: 0px;
    border-radius: 5px;
}

.footer-bg-container {
    background-color: #19232d;
}

.footer-vr-logo {
    width: 70px;
    height: 50px;
}

.footer-social-logo-container {
    color: #959ead;
    background-color: #202b36;
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.footer-address {
    color: #959ead;
    font-size: 18px;
    text-align: center;
}

.footer-contact-heading {
    color: #959ead;
    font-size: 20px;
    font-weight: 700;
}

.footer-contact-logo {
    color: #959ead;
}

.footer-contact-mail {
    color: #959ead;
    font-size: 17px;
}

.footer-contact-logo {
    margin-right: 5px;
}

.footer-hr-line {
    background-color: #959ead;
}

.footer-content-container {
    color: #959ead;
    font-size: 17px;
    text-align: center;
}
